

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-enl {
  display: inline-block;
   background: rgb(234, 225, 225);
   color: gray;
   padding: 20px 30px;
   text-decoration: none;
   
}
.nav-enl:hover {
background:rgb(207, 199, 199) ;
}
nav{
  background:rgb(249, 243, 243) ;
  display: flex;
}
.marca {
  display: inline-block;
   background: rgb(234, 225, 225);
   color: gray;
   padding: 20px 30px;
   text-decoration: none;
}

.cart {
  margin-left: auto;
  padding: 10px;
}
.cart i {
  font-size: 2rem;
}



.productsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}
.product img {
  width: 100px;
}
.product p {
  font-size: 1rem;
  font-weight: bold;
}

.product{
  display: flex;
  justify-content: center;
flex-direction: column;
align-items: center;
}

.description { 
  font-size: 1.2rem;
  color: gray;
}

.title {
  font-size: medium;
text-align: center;
color: gray;
}